@{
    Layout = "_Layout";
}

 <div class='container'>
        <h1>All Places</h1>

        @foreach(var place in Model)
        {
          <h3>@place.GetName()</h3>
          <ul>
            <li>Place Id: @place.GetId()</li>
            <li>Category: @place.GetCategory()</li>
            <li>Address: @place.GetAddress()</li>
            <li>Hours of Operation: @place.GetOpening() AM - @place.GetClosing() PM</li>
            <li>Zip Code: @place.GetZipCode()</li>
          </ul>
        }
</div>